body {
    background-color:#EEEEEE;
}

h1 {
    color:#222831;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center
}

h2 {
    color:#00ADB5;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}

p,li {
    color:#393E46;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left:445px;
}

table,td,th {
   border: 3px solid #222831;
   border-collapse: collapse;
   color: #393E46;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}